<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poem.repository.PoemMapper">
<select id="selectByPoemName" parameterType="String" resultType="ResultPoem">
    select poem.name,poem.context,dynasty.dyname,authority.author from t_poems_poem as poem ,t_poems_authority as authority,t_poems_dynasty as dynasty
    where poem.authority_id=authority.id and
    poem.dynasty_id=dynasty.id
    <!--          <if test="poemName!=null and poemName!=''">-->
    and poem.name like concat('%',#{poemName},'%')
    <!--          </if>-->
</select>
</mapper>